.App {
  font-family: 'Roboto', sans-serif;
} 

.header{
  /* background-color: #94DE1D; */
  /* position: fixed; */
  /* background: rgb(205,222,29); */
  /* background: radial-gradient(circle, rgba(205,222,29,1) 0%, rgba(148,222,29,1) 35%); */
  background: linear-gradient(to right, rgba(148,222,29,1), rgba(205,222,29,1));;
  top: 0;
  right: 0;
  left: 0;
  color: #FFFFFF;
  /* font-family: "Montserrat", Sans-serif; */
  /*font-size: 93px; */
  font-weight: 700;
  letter-spacing: -0.3px;
}

.logo {
  height: 100px;
  width: 100px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
